@page
@model HerexamenEcommerce24.Areas.Identity.Pages.Account.Manage.IndexModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div class="form-group">
        <label asp-for="Input.FirstName" class="control-label"></label>
        <input asp-for="Input.FirstName" class="form-control" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.LastName" class="control-label"></label>
        <input asp-for="Input.LastName" class="form-control" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <!-- andere velden -->
    <button type="submit" class="btn btn-primary">Save</button>
</form>
