@page
@model HerexamenEcommerce24.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm your email";
}

<h2>@ViewData["Title"]</h2>

<p>Your email has been confirmed.</p>
